{% extends 'base.html' %}

{% block title %}EmpreGO! - Visualizar Currículos{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> <!-- Centraliza horizontalmente -->
        <div class="col-md-6"> <!-- Ocupa metade da tela em telas médias e maiores -->
            {% if candidatos %}
            <ul>
                {% for candidato in candidatos %}
                <div class="card mb-4 shadow">
                    <div class="card-body">
                        <h5 class="card-title text-primary">
                            Nome: {{ candidato.nome_candidato }}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            Email: {{ candidato.email }}
                        </h6>
                        <p class="card-text">
                            Telefone: {{ candidato.telefone }}
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <a href="/download/{{ candidato.curriculo }}" class="btn btn-primary">Baixar currículo</a>
                                <a href="/excluir_candidato/{{ candidato.curriculo }}/{{ candidato.id_vaga }}" class="btn btn-danger">Excluír currículo</a>
                            </small>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </ul>

            {% else %}
            <p>Não há candidatos para essa vaga!</p>
            {% endif %}

            {% endblock %}