{% extends "base.html" %}

{% block title %}EmpreGO! - Cadastrar Empresa{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> <!-- Centraliza horizontalmente -->
        <div class="col-md-6"> <!-- Ocupa metade da tela em telas médias e maiores -->
            <h1 class="text-center mb-4">Formas de contato</h1>

            <p>WhatsApp: +55 21 98765-4321</p>
            <p>E-mail: contato@empreGO.com</p>
            <p>Telefone Fixo: +55 21 3333-4444</p>

            <p>Redes Sociais:</p>
            <ul>
                <li>Instagram: @empreGO</li>
                <li>LinkedIn: EmpreGO</li>
                <li>Facebook: EmpreGO Oficial</li>
            </ul>

            <p>Endereço: Rua das Empresas, 123, Centro, Rio de Janeiro - RJ, Brasil</p>
            <p>Horário de Atendimento: Segunda a Sexta, das 9h às 18h</p>

        </div>
    </div>
</div>

{% endblock %}