{% extends "base.html" %}

{% block title %}EmpreGO! - Cadastrar Empresa{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> <!-- Centraliza horizontalmente -->
        <div class="col-md-6"> <!-- Ocupa metade da tela em telas médias e maiores -->
            <h1 class="text-center mb-4">Formas de contato</h1>

            <p>Whatsapp: +00 00 00000-0000</p>
            <p>Email: EmpreGO@gmail.com</p>

            <ul>
                <li><a href="/">Voltar</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}