{% extends "base.html" %}

{% block title %}EmpreGO! - Cadastrar Empresa{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Editar Empresa</h1>

            {% if msg_erro %} <!-- Exibe mensagem de erro, se houver -->
            <div class="alert alert-danger" role="alert">
                {{ msg_erro }}
            </div>
            {% endif %}

            <form action="/editar_empresa/{{ empresa.id_empresa }}" method="post">

                <div class="mb-3">
                    <label for="nome_empresa" class="form-label">Nome Fantasia da Empresa</label>
                    <input type="text" class="form-control" name="nome_empresa" value="{{ empresa.nome_empresa }}" id="nome_empresa"
                        required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        Por favor insira o nome fantasia da empresa.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="cnpj" class="form-label">CNPJ</label>
                    <input type="text" class="form-control" name="cnpj" value="{{ empresa.cnpj }}" id="cnpj"
                        placeholder="Somente números" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        Por favor insira o CNPJ.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="telefone" class="form-label">Telefone de contato</label>
                    <input type="text" class="form-control" name="telefone" value="{{ empresa.telefone }}"
                        id="telefone" placeholder="Somente números">
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        Por insira telefone de contato.
                    </div>
                </div>

                <h3>Informações para acesso da plataforma</h3>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail (LOGIN)</label>
                    <input type="email" class="form-control" name="email" value="{{ empresa.email }}" id="email" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        Por favor insira o e-mail.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Senha (LOGIN)</label>
                    <input type="text" class="form-control" name="senha" value="{{ empresa.senha }}" id="email" required>
                    <div class="valid-feedback">
                        Tudo certo!
                    </div>
                    <div class="invalid-feedback">
                        Por favor insira a senha.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Salvar Alterações</button>

            </form>

            <!-- Link do Input Mask -->
            <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>

            <!-- Script de configuração do Input Mask -->
            <script>
                Inputmask("99.999.999/9999-99").mask(document.getElementById("cnpj")); // Máscara para CNPJ
                Inputmask("(99) 99999-9999").mask(document.getElementById("telefone")); // Máscara para Telefone
            </script>

            {% endblock %}