{% extends "base.html" %}

{% block title %}EmpreGO! - Cadastrar Empresa{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> <!-- Centraliza horizontalmente -->
        <div class="col-md-6"> <!-- Ocupa metade da tela em telas médias e maiores -->
            <h1 class="text-center mb-4">Sobre</h1>

            <div>
                <container>
                    <p>Este projeto é uma rede corporativa desenvolvida utilizando Flask e MySQL, ele permite que
                        usuários possam se candidatar a vagas, que empresas possam cadastrar e editar vagas, além de
                        receber currículos, e por último permite que os administradores possam ativar ou desativar
                        empresas, além de exluí-las. Também possui uma página sobre, uma página de contatos, e painéis
                        administrativos.</p>
                </container>
            </div>
            <ul>
                <li><a href="/">Voltar</a></li>
            </ul>

        </div>
    </div>
</div>

{% endblock %}