{% extends "base.html" %}

{% block title %}EmpreGO! - Cadastrar Empresa{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> <!-- Centraliza horizontalmente -->
        <div class="col-md-6"> <!-- Ocupa metade da tela em telas médias e maiores -->
            <container>
                <h2>Sobre a EmpreGO!</h2>

                <p>EmpreGO! é uma plataforma inovadora focada em conectar pessoas às melhores oportunidades de trabalho.
                    Nosso objetivo é simplificar o processo de recrutamento e seleção, oferecendo soluções
                    personalizadas tanto para empresas quanto para candidatos.

                    Desde a nossa fundação em 2024, temos nos destacado por nosso compromisso em criar uma experiência
                    intuitiva, ágil e eficaz, promovendo um mercado de trabalho mais acessível e inclusivo.</p><br>

                <h2>Nossa Missão</h2>

                <p>Facilitar a conexão entre talentos e empresas, promovendo o crescimento profissional e o sucesso
                    organizacional.</p><br>

                <h2>Nossa Visão</h2>

                <p>Ser referência no mercado de recrutamento e seleção, utilizando tecnologia e inovação para
                    transformar vidas e negócios.</p><br>

                <h2>Nossos Valores</h2>

                <ul>
                    <li>Inovação: Buscamos soluções tecnológicas para sempre melhorar nossos serviços.</li>
                    <li>Transparência: Valorizamos relações de confiança com nossos clientes e usuários.</li>
                    <li>Inclusão: Acreditamos no poder da diversidade e igualdade de oportunidades.</li>
                    <li>Excelência: Comprometemo-nos a entregar serviços de alta qualidade.</li>
                </ul><br>

                <h2>O que Oferecemos</h2>

                <ul>
                    <li>Cadastro gratuito de currículos e vagas.</li>
                    <li>Recursos para otimizar processos de seleção.</li>
                    <li>Consultoria personalizada para empresas e profissionais.</li>
                    <li>Atualizações constantes sobre o mercado de trabalho.</li>
                </ul><br>

                <p>Faça parte da EmpreGO! e transforme sua jornada profissional.</p>

            </container>
        </div>
    </div>
</div>

{% endblock %}